.jobamatic-wait {
  background: url(../images/waiting.gif) top left no-repeat;
  display: block;
  line-height: 26px;
  padding-left: 24px;
}

#simplyhired-attribution {
  margin-top: 18px;
}

.block #jobamatic-latest-job-results .item-list ul {
  list-style-type: none;
  padding: 0;
}

.block #jobamatic-latest-job-results .item-list ul li {
  margin: auto 0 8px;
}

#jobamatic-search-results #jobamatic-search-resultset h3 {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 2px;
}

#jobamatic-search-results #jobamatic-search-resultset .jobamatic-job {
  margin: 0 0 12px;
  padding: 8px;
}

#jobamatic-search-results #jobamatic-search-resultset .jobamatic-job h3 {
  border-bottom: none;
  font-size: 0.95em;
  font-weight: bold;
  margin: 0.5em 0 0;
}

#jobamatic-search-results #jobamatic-search-resultset .jobamatic-job h4 {
  margin: 0;
}

#jobamatic-search-results #jobamatic-search-resultset .jobamatic-job.even {
  background-color: #efefef;
}
