/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2014, 2:23:53 PM
    Author     : ronald
*/
#search-form.simplyhired-search-form input#edit-keys {
	width: inherit;
}

.search-info.simplyhired-search-info {
	margin-bottom: 12px;
	border-bottom: 1px dashed #dddddd;
	padding-bottom: 3px;
	width: 30%;
}

#simplyhired-attribution {
	text-align: right;
}
