/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2014, 9:30:50 PM
    Author     : ronald
*/

.simplyhired-job {
	padding-bottom: 6px;
	border-bottom: 2px solid #cccccc;
}

.simplyhired-job-description {
	margin-top: 12px;
}